.info-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0rem;
}

.info-header h6 {
    margin: 0;
}

.info-header .filter-buttons {
    margin-left: 1rem;
}

.filter-buttons .filter-option {
    height: 2rem;
    float: left;
}

.filter-option ~ .filter-option {
    margin-left: 1rem;
}

.search-option input, .search-option button {
    height: 2rem;
}

.horario {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    background-color: var(--dark-sea-green);
    color: white;
    padding: 0.5rem;
    border-radius: 100px;
    width: fit-content;
}

.horario p {
    margin: 0;
}

.horario i {
    margin-left: 0.5rem;
    cursor: pointer;
}

.horario i:hover {
    font-size: 1.1rem;
}

.active {
    color: var(--dark-sea-green);
}

.non-active {
    color: var(--beauty-orange);
}

.info-header .filter-buttons {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.filter-option.select {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-buttons .filter-option {
    height: 2.5rem;
    float: left;
}

.filter-option ~ .filter-option {
    margin-left: 1rem;
}

.search-option input, .search-option button {
    height: 2rem;
}

.filter-buttons {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
}

.filter-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-right: 1rem;
}

.filter-option label {
    min-width: fit-content;
    margin: 0 1rem;
    margin-left: 0;
}