.header-title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-icon.left {
  margin-right: 1rem;
}

.title-icon.right {
  margin-left: 1rem;
}

h5.title-text {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.back-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 100% 100%;
  padding: 5px;
  transition: all 0.3s ease;
  margin-right: 16px;
}

.back-button:hover {
  background-color: #d9d9d9;
  font-size: 1.02rem;
}

.back-button p {
  margin: 0;
  margin-left: -5px;
}