$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?6d96961b96f2ba0b0f224548a1fe65ae") format("truetype"),
url("./flaticon.woff?6d96961b96f2ba0b0f224548a1fe65ae") format("woff"),
url("./flaticon.woff2?6d96961b96f2ba0b0f224548a1fe65ae") format("woff2"),
url("./flaticon.eot?6d96961b96f2ba0b0f224548a1fe65ae#iefix") format("embedded-opentype"),
url("./flaticon.svg?6d96961b96f2ba0b0f224548a1fe65ae#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "blanca": "\f101",
    "exam": "\f102",
    "mortarboard": "\f103",
    "negra": "\f104",
    "nota-musical": "\f105",
    "right-arrow": "\f106",
    "semibreve-1": "\f107",
    "semibreve": "\f108",
    "semicorchea": "\f109",
);

.flaticon-blanca:before {
    content: map-get($flaticon-map, "blanca");
}
.flaticon-exam:before {
    content: map-get($flaticon-map, "exam");
}
.flaticon-mortarboard:before {
    content: map-get($flaticon-map, "mortarboard");
}
.flaticon-negra:before {
    content: map-get($flaticon-map, "negra");
}
.flaticon-nota-musical:before {
    content: map-get($flaticon-map, "nota-musical");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-semibreve-1:before {
    content: map-get($flaticon-map, "semibreve-1");
}
.flaticon-semibreve:before {
    content: map-get($flaticon-map, "semibreve");
}
.flaticon-semicorchea:before {
    content: map-get($flaticon-map, "semicorchea");
}
